<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <title>New Artist</title>
  </head>
  <body>
    <%-include('../reusables/navbar')%>
    <main class="containsForm">
      
      <h1><%=header%></h1>
      <form action= <%=src%> method="post">
        <p>
          <label for="artworkName">Name of Artwork</label>
          <input type="text" id="artworkName" name="artworkName" 
          <%if(locals.artwork){%>
            value = "<%=artwork.artworkname%>""
            <%}%>
          required />
        </p>
        <p>
          <label for="mediums">Mediums Used</label>
          <input type="text" id="mediums" name="mediums" 
          <%if(locals.artwork){%>
            value = "<%=artwork.mediums%>""
            <%}%>required />
        </p>

        <p>
          <label for="dateCreated">Date Created</label>
          <input type="date" id="dateCreated" name="dateCreated" required />
        </p>

        <p>
          <label for="img">Upload an Image</label>
          <input
            type="file"
            id="img"
            name="img"
            accept="image/png, image/jpeg"
          />
        </p>
        <p>
          <label for="artist">Choose an Artist</label>
          <select name="artist" id="artist">
            <%for(const prop of locals.allArtists){%>
            <option value="<%=prop.id%>">
              <%=prop.firstname%> <%=prop.lastname%>
            </option>
            <%}%>
          </select>
        </p>

        <p>
          <label for="museum">Choose a Museum</label>
          <select name="museum" id="museum">
            <%for(const prop of locals.allMuseums){%>
            <option value="<%=prop.id%>"><%=prop.name%></option>
            <%}%>
          </select>
        </p>

        <p>
          <button type="submit">Add Artwork</button>
        </p>
      </form>
      <%if(locals.errorMessages){%> <%for(let i = 0; i < errorMessages.length; i++){%>
      <p><%=errorMessages[i].msg%></p>
      <%}%> <%}%> <%if(locals.success){%>
      <p><%=success.successMessage%></p>
      <%}%>
    </main>
  </body>
</html>
