<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <title>New Artist</title>
  </head>
  <body>
    <%-include('../reusables/navbar')%>
    <main class="containsForm">
      <h1><%=header%></h1>
      <form action=<%=src%> method="post">
        <p>
          <label for="museumName">Name of Museum</label>
          <input
            type="text"
            id="museumName"
            name="museumName"
            minlength="1"
            maxlength="60"
            pattern="[a-zA-Z0-9 ]+"
            <%if(locals.museum){%>
              value = "<%=museum.name%>""
              <%}%>
            required
          />
        </p>
        <p>
          <label for="city">City</label>
          <input
            type="text"
            id="city"
            name="city"
            minlength="1"
            maxlength="40"
            pattern="[a-zA-Z0-9 ]+"
            <%if(locals.museum){%>
              value = "<%=museum.city%>""
              <%}%>
            required
          />
        </p>
        <p>
          <label for="country">Country</label>
          <input
            type="text"
            id="country"
            name="country"
            minlength="1"
            maxlength="40"
            pattern="[a-zA-Z0-9 ]+"
            <%if(locals.museum){%>
              value = "<%=museum.country%>""
              <%}%>
            required
          />
        </p>

        <p>
          <label for="date">Date Created</label>
          <input type="date" id="date" name="date" required />
        </p>

        <p>
          <button type="submit">Add Museum</button>
        </p>
      </form>
      <%if(locals.errorMessages){%> <%for(let i = 0; i < errorMessages.length;
      i++){%>
      <p><%=errorMessages[i].msg%></p>
      <%}%> <%}%> <%if(locals.success){%>
      <p><%=success.successMessage%></p>
      <%}%>
    </main>
  </body>
</html>
