<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <title>Artist Info</title>
  </head>
  <body>
    <%-include('./reusables/navbar')%>
    <div class="info">
      <div>
        
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Michelangelo_Daniele_da_Volterra_%28dettaglio%29.jpg/1200px-Michelangelo_Daniele_da_Volterra_%28dettaglio%29.jpg" alt="Image of <%= artist.firstname%>" />
        </a>
      </div>
      <div class = 'selectedElementInfo'>
        <p>Artists Name: <%=artist.firstname%> <%=artist.lastname%></p>
        <p>Date of Birth: <%=artist.dob%></p>
        <p>Birthplace: <%=artist.birthplace%></p>
        <p>Description: <%=artist.description%></p>
        <p><button><a href="/artists/<%=artistID%>/delete">Delete</a></button></p>
        <p><button><a href="/artists/<%=artistID%>/newArtistForm/update">Update</a></button></p>
      </div>
    </div>

    <main>
        <%for(let i = 0; i < artworks.length; i++){%>
            <div>
                <p><%=artworks[i].name%></p>
                <p>
                    <a href="/artworks/<%=artworks[i].id%>">
                        <img src="" alt="Image of <%=artworks[i].name%>">
                    </a>
                </p>

            </div>
            <%}%>
    </main>
  </body>
</html>
