<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <title>Artist Info</title>
  </head>
  <body>
    <%-include('./reusables/navbar')%>
    <div class="info">
      <div>
        
        <img src="http://www.italianrenaissance.org/wp-content/uploads/2012/09/michelangelo-creation-of-adam-590x474.jpg" alt="Image of <%=artworkInfo.artworkname%>" />
        </a>
      </div>
      <div class = 'selectedElementInfo'>
        <p>Name: <%=artworkInfo.artworkname%></p>
        <p>Created By: <a href="/artists/<%=artworkInfo.artist_id%>"><%=artworkInfo.artistname%></a></p>
        <p>Completed: <%=artworkInfo.datecompleted%></p>
        <p>Located: <a href="/museums/<%=artworkInfo.museum_id%>"><%=artworkInfo.artworklocation%></a></p>
        <p>Sold: <%=artworkInfo.sold%></p>
      </div>
    </div>
  </body>
</html>
